/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Host Grotesk", sans-serif;
  background-color: #ffffff;
  color: #111111;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* Buttons */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Inputs */
input,
textarea,
select {
  font-family: inherit;
  outline: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* Paragraphs */
p {
  color: #555555;
}

/* Common Button */
.common-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 14px 24px;

  background-color: #e8ba2e;
  color: #000102;

  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;

  transition: all 0.3s ease;
}

.common-btn:hover {
  background-color: #ddb000;
}
