/* Header Section */
.header {
  background-color: #ffffff;
  padding: 24px 0;
}

.header-container {
  width: 90%;
  max-width: 1400px;
  height: 50px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Section */
.logo-container {
  width: 155px;
  height: 50px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-container .logo img {
  width: 45px;
  display: block;
}

.logo-container h2 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #050505;
  line-height: 1.2;
}

/* Navigation */
.navber {
  height: 50px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-list a {
  color: #575757;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.nav-list a:hover {
  color: #e8ba2e;
  font-weight: 700;
  text-decoration: underline;
}
